<ion-content [ngStyle]="{'min-height':'100vh'}" >

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{users[0].Username}}</ion-card-title><br/>
      <ion-toggle [(ngModel)]="cashierS">cashier</ion-toggle><br/>
      <ion-toggle [(ngModel)]="waiterS">waiter</ion-toggle><br/>
      <ion-toggle [(ngModel)]="adminS">admin</ion-toggle><br/>
       <ion-button (click)="sendUsersaved()">Save</ion-button>
    </ion-card-header>

  </ion-card>

  
  <ion-card *ngIf="users[1]?true:false">
    <ion-card-header>
      <ion-card-title>{{users[1].Username}}</ion-card-title><br/>
      <ion-toggle >cashier</ion-toggle><br/>
      <ion-toggle >waiter</ion-toggle><br/>
      <ion-toggle >admin</ion-toggle><br/>
       <ion-button (click)="sendUsersaved()">Save</ion-button>
    </ion-card-header>

  </ion-card>



  <ion-card *ngIf="users[2]?true:false">
    <ion-card-header>
      <ion-card-title>{{users[2].Username}}</ion-card-title><br/>
      <ion-toggle >cashier</ion-toggle><br/>
      <ion-toggle >waiter</ion-toggle><br/>
      <ion-toggle >admin</ion-toggle><br/>
       <ion-button (click)="sendUsersaved()">Save</ion-button>
    </ion-card-header>

  </ion-card>

   <ion-card *ngIf="users[3]?true:false">
    <ion-card-header>
      <ion-card-title>{{users[3].Username}}</ion-card-title><br/>
      <ion-toggle >cashier</ion-toggle><br/>
      <ion-toggle >waiter</ion-toggle><br/>
      <ion-toggle >admin</ion-toggle><br/>
       <ion-button (click)="sendUsersaved()">Save</ion-button>
    </ion-card-header>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-title>Add User</ion-title>
      <ion-input placeholder="username" [(ngModel)]="username"></ion-input>
      <ion-input placeholder="Password" [(ngModel)]="password"></ion-input>
       <ion-toggle [(ngModel)]="cashier">cashier</ion-toggle><br/>
       <ion-toggle [(ngModel)]="waiter">waiter</ion-toggle><br/>
       <ion-toggle [(ngModel)]="admin">admin</ion-toggle><br/>
       <ion-button (click)="sendUser()">ADD</ion-button>
    </ion-card-header>

  
  </ion-card>
  



</ion-content>




















